@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  padding: none;
  margin: none;
}

body {
  background-color: #dcdff1;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(170, 170, 170, 0.08),
    rgba(170, 170, 170, 0.08) 3px,
    transparent 3px,
    transparent 6px
  );
  min-height: 100vh;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header > * > img {
  max-width: 400px;
}

.profile-name {
  position: absolute;
  bottom: 2%;
  left: 15%;
  color: rgb(104, 33, 5);
}

.profile {
  position: relative;
}

@media screen and (max-width: 420px) {
  .about {
    border-radius: 5px;
    max-width: 90%;
  }
  .profile-name {
    font-size: 18px;
  }
  .profile {
    max-width: 100vw;
  }
  header {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 700px) {
  .about {
    border-radius: 0 5px 5px 0;
    max-width: 500px;
    padding: 20px;
  }
  header {
    padding: 3rem;
  }
}
.about {
  display: grid;
  justify-content: center;
  box-shadow: 5px 5px 5px rgb(95, 97, 124);
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
}

.anchor {
  display: flex;
  justify-content: right;
  gap: 1rem;
  align-items: center;
}

.about > * {
  font-weight: normal;
}

.about > h3 {
  color: rgb(100, 98, 98);
}

.icon {
  width: 1.5rem;
}

.icon-small {
  width: 1.2rem;
}

section,
footer {
  display: grid;
  align-items: center;
  justify-content: center;
}

article > img {
  width: 100%;
  height: 200px;
}

article > div,
article > h4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

article {
  display: grid;
  justify-content: center;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(95, 97, 124);
  border-radius: 5px;
}

article > h4 {
  color: rgb(49, 48, 48);
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 3em;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
}

.project {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.project > h3 {
  flex: 1;
  font-weight: normal;
}
